<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello World!</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../static/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body class="contact-page">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="#">IIIT D E Cell</a>
                        </h1>
                    </div>
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">Register Now</h2>

                        <ul class="breadcrumbs flex align-items-center">
                            <li><a href="#">Ecell</a></li>
                            <li>Induction</li>
                        </ul><!-- .breadcrumbs -->
                    </div><!-- entry-header -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->

            <div class="get-in-touch">
                <div class="entry-header">
                    <div class="entry-title">
                        <p>JUST THE BEST</p>
                        <h2>Register Now</h2>
                    </div><!-- entry-title -->
                </div><!-- entry-header -->

                <div class="entry-content">
                    <p>Quisque at erat eu libero consequat tempus. Quisque mole stie convallis tempus.
                        Ut semper purus metus, a euismod sapien sodales ac. Duis viverra eleifend fermentum.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam.
                        Integer accumsan sodales odio, id tempus velit ullamcorper id.</p>
                </div><!-- entry-content -->
                <form  method='POST'>
                <div class="contact-form">
                    <!-- <form id="contact-form" method="post" action="contact.php"> -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <input type="text" name="name" placeholder="Team Leader" required>
                        </div>
                        <div class="col-12 col-md-6">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                       <div class="col-12 col-md-6">
                            <input type="text" placeholder="Member 1" name='mem1'>
                        </div>
                        <div class="col-12 col-md-6">
                            <input  name='email0' type="email" placeholder="Email">
                        </div>
                       <div class="col-12 col-md-6">
                            <input name='mem2' type="text" placeholder="Member 2">
                        </div>
                        <div class="col-12 col-md-6">
                            <input name='email1' type="email" placeholder="Email">
                        </div>
                       <div class="col-12 col-md-6">
                            <input type="text" name="mem3" placeholder="Member 3">
                        </div>
                        <div class="col-12 col-md-6">
                            <input  name='email2' type="email" placeholder="Email">
                        </div>
                       <div class="col-12 col-md-6">
                            <input  name="mem4" type="text" placeholder="Member 4">
                        </div>
                        <div class="col-12 col-md-6">
                            <input type="email" name='email3' placeholder="Email">
                        </div>
                       <div class="col-12 col-md-6">
                            <input  name="mem5" type="text" placeholder="Member 5">
                        </div>
                        <div class="col-12 col-md-6">
                            <input type="email" name='email4' placeholder="Email">
                        </div>
                        <div class="col-12">
                            <input type="text" name='message' placeholder="Subject">
                        </div>

                        <div class="col-12">
                            <textarea name="message" rows="8" cols="80" placeholder="message"></textarea>
                        </div>

                        <div class="col-12 submit flex justify-content-center">
                            <input type="submit" name="sub" value="send message" class="btn">
                        </div>
                    </div><!-- row -->
                <!-- </form> -->
                </div><!-- contact-form -->
            </form>
            </div><!-- newsletter-subscribe -->
        </div><!-- main-content -->
    </div><!-- container -->

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
</body>
</html>
